/* dyn.menu.html*/
/* menuBody */
#menuContainerId{
    display: none;
    position: absolute;
    background-color: #3366ff;
    min-width: 37vw;
    color: whitesmoke;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.menu-container-li{
    width: 100%;
}

/* dyn.channels.html*/

.button-pannel {
    border: 1px solid whitesmoke;
    width: 100%;
    padding: 1px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.button-frame {
    border: 2px dashed #3366ff;
    width: 37vw;
    height: 37vw;
    margin: 1vw;
    background: #ffffff;
    color: #3366ff;
    vertical-align: top;
    font-size: 3vw;
    -webkit-transition: background 350ms ease-out 250ms;
    -moz-transition: background 350ms ease-out 250ms;
    transition: background 350ms ease-out 250ms;
}

.button-frame-OFF {
    background-color: lightgray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
    -webkit-transition: background 350ms ease-out 250ms;
    -moz-transition: background 350ms ease-out 250ms;
    transition: background 350ms ease-out 250ms;
    color: #404040;
    border: 2px dashed #404040;
}

.button-frame-UNKNOWN {
    background-color: lightgray;
    background-image: url("../images/ajax-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    transition: background 350ms ease-out 250ms;
    color: #404040;
    border: 2px dashed #404040;
}

.button-frame:hover {
    border: 2px solid #3366ff;
}

.button-svg {
    width: calc(37vw - 4px);
    height: calc(37vw - 4px);
    border: 1px solid transparent;
    background: transparent;
    position: relative;
    top: -59.5vw;
    stroke: #3366ff;
    z-index: 1;
}

.button-svg-OFF {
    stroke: #404040;
}

.button-path-text {
    font-size: 4vw;
    text-anchor: middle;
    fill: #3366ff;
}

.button-path-text-OFF {
    fill: #404040;
}

.button-path-arc {
    fill: none;
    stroke-width: 2.3vw;
}

.button-layout {
    border: 1px solid transparent;
    padding: 2px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.layout-center {
    border: 1px solid transparent;
    position: relative;
    width: calc(23vw - 4px);
    height: calc(23vw - 4px);
    border-radius: 9vw;
    top: -28.5vw;
}

.button-layout p {
    display: inline-block;
}

.function-increase:hover {
    font-weight: bold;
}

.function-decrease:hover {
    font-weight: bold;
}

.layout-a {
    width: 21vw;
    height: 18vw;
    vertical-align: top;
    text-align: left;
}

.layout-b {
    width: 13vw;
    height: 18vw;
    vertical-align: top;
    text-align: right;
}

.layout-c {
    width: 13vw;
    height: 18vw;
    vertical-align: bottom;
    text-align: left;
}

.layout-c p {
    left: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
}

.layout-d p {
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
}

.layout-d {
    width: 21vw;
    height: 18vw;
    vertical-align: bottom;
    text-align: right;
}

/* dyn.setup.html*/